<div class="chatting-room-title-part">
    <h1 class="chatting-room-title">Chat Room</h1>
    <div class="ui horizontal divider">
        Messages
    </div>
</div>
<div class="chatting-room-body-part" data-chatroom-id="<%= @chanel.id %>">
    <% @messages.each do |message| %>
    <%= render message%>
    <% end %>
</div>

<%= form_with model: [@chanel, @message], class: "chatting-room-form-part", remote: true do |f|%>
        <%= f.text_field :body, placeholder: "message", autofocus:true%>
<%end%>
<script>
window.scrollTo(0, document.querySelector('.chatting-room-body-part').scrollHeight);
var load = true;
window.onscroll = function () {
    var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
    var winHeight = window.innerHeight;
    if (load && scrollTop <= 303) {
        load = false;
        const first_id = $(".chatting-room-body-part").children(":first").attr("id");
        const chanel_id = $(".chatting-room-body-part").attr("data-chatroom-id");
        $.ajax({
            type: "GET",
            url: `http://localhost:3000/messages/getMoreMsg`,
            data: { first_id, chanel_id },
            dataType: "json",
            success: function (data) {
                if (data.status == 200) {
                    $(".chatting-room-body-part").prepend(data.messages);
                    load = true;
                }
            }
        });
    }
    // for(var i = 0; i < imgs.length; i++) {
    //     if (imgs[i].offsetTop < scrollTop + winHeight) {
    //         imgs[i].src = imgs[i].getAttribute('data-src');
    //     }
    // }
}
</script>