.main-body {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}

.user-name-label {
    font-size: 1.2rem !important;
}

.menu-list {
    position: fixed;
    z-index: 1;
    height: 100vh;
    overflow: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.item>.header {
    font-size: 1.2rem !important;
}

.menu>.item>span {
    font-size: 1.08rem;
    line-height: 24px;
}

.main-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
    margin-left: 210px;
    padding-top: 1.5rem;
}

.signup-and-login-form {
    margin: 2rem 5rem 2rem 3rem;
}

.show-user {
    margin: 1rem 5rem 2rem 3rem;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.ui.card>.image>img {
    height: 290px !important;
}

.ui.cards>.card>.image:not(.ui)>img {
    height: 290px !important;
}

.user-add-new-friend {
    margin-left: 3rem;
    margin-right: 5rem;
    width: 80px;
    height: 80px;
}

.request-list {
    max-height: 424px;
    margin-left: 2rem;
    margin-right: 5rem;
    width: 900px;
    overflow-y: auto;
    border: 1px solid purple;
    padding: 10px;
}

.ui.feed>.event {
    margin-bottom: 10px !important;
}

.ui.feed>.event:hover {
    background-color: #e8e8eb;
}

.ui.feed>.event>.label img {
    width: 35px !important;
    height: 35px !important;
}

.chatting-room-title-part {
    position: fixed;
    top: 0rem;
    /* left: 210px; */
    background-color: #FFFFFF;
}

.chatting-room-title {
    margin-top: 1.5rem !important;
    font-size: 2rem;
    margin-left: 1rem;
}

.chatting-room-body-part {
    margin: 90px 5rem 75px 1.5rem;
}

.chatting-room-form-part {
    margin-left: 1rem;
    margin-right: 5rem;
    position: fixed;
    bottom: 0px;
    background-color: #FFFFFF;
    width: 100%
}

.chatting-room-form-part input {
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    width: 81.5%;
    margin-bottom: 20px;
}

.chatting-item {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.chatting-item:hover {
    background-color: #e8e8eb;
}

.chatting-item img {
    width: 50px;
    height: 50px;
}

.chatting-item div {
    margin-left: 10px;
}

.chatting-item div strong {
    font-size: 1.3rem;
}

.chatting-item div small {
    margin-left: 5px;
}

.chatting-item div p {
    margin-top: 5px;
    font-size: 1.1rem;
}